.floorButton {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-top: .3rem;
    background-color: #DA8E71;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    display: none;

    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    &:hover {
        background-color: #FCE5D7;
    }

    &.show {
        display: block;
    }

    &.active {
        background-color: #FCE5D7;
    }
}

.circle_point {
    fill: #fff;
    padding: 10px;
    display: inline-block;
    stroke: black;
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        fill: white;
    }

    50% {
        fill: #A2543D;
    }

    100% {
        fill: white;
    }
}

.mouse_tooltip {
    background-color: rgba(162, 84, 61, .8);
    color: white;
    border-radius: 16px;
    padding: 10px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
}